<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kvarnsen.simplebudget" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kvarnsen.simplebudget.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.AddItemActivity"
            android:label="@string/title_activity_item" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.ItemHistoryActivity"
            android:label="@string/title_activity_item_history" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.AddExpenseActivity"
            android:label="@string/title_activity_expense" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.AdjustBudgetActivity"
            android:label="@string/title_activity_adjust_budget" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.AdjustItemActivity"
            android:label="@string/title_activity_adjust_item" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.AdjustExpenseActivity"
            android:label="@string/title_activity_adjust_expense" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.GoalsActivity"
            android:label="@string/title_activity_goals" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.AddGoalActivity"
            android:label="@string/title_activity_add_goal" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.GoalHistoryActivity"
            android:label="@string/title_activity_goal_history" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.MakeDepositActivity"
            android:label="@string/title_activity_make_deposit" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="kvarnsen.simplebudget.AdjustGoalActivity"
            android:label="@string/title_activity_adjust_goal" >
        </activity>
    </application>

</manifest> <!-- android:icon from Smashing Magazine's Roundicons set (http://www.smashingmagazine.com/2014/01/24/roundicons-set-60-icons-png-ai-source/) -->
